<nav [class.active]="isMenuActive">
  <div class="nav-logo">Al-Masomeen Quran Academy</div>
  <div class="nav-links" id="navLinks">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/about-us" routerLinkActive="active">About Us</a>
    <a routerLink="/courses" routerLinkActive="active">Courses</a>
    <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
  </div>
  <div class="nav-toggle" id="navToggle" aria-label="Toggle navigation" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>